@{
    ViewBag.Title = "House";
    Layout = "~/Views/Shared/HouseLayout.cshtml";
}

@using QLKS_CNPM_LT.Models.ViewModel
@model List<PhongView>

<link rel="stylesheet" href="~/Content/MyStyle/Item.css" />
<h1>Danh sách phòng</h1>

<div id="myinput">
    <input type="text" name="search" class="live-search-box" placeholder="Bạn cần tìm gì" />
</div>


@{

}

<ul id="list-product" class="live-search-list">

    @foreach (PhongView pv in Model)
    {
        decimal money = (decimal)pv.GIA;
        <div class="card">

            <div class="card_img">

                <img src="@Url.Content(pv.ANH)" />
            </div>
            <div class="card_tille">
                @pv.TENPhong
            </div>
            <div class="card_price">
                @money.ToString("#,###").Replace(",", ".") <span style="color:green">VNĐ</span>
            </div>

            <div class="card_action">
                @if (pv.TRANGTHAI != "1")
                {
                    <button onclick="location.href='/Phong/DatPhong/@pv.MA_PHONG';">Đặt phòng</button>
                    <button onclick="location.href='/Phong/ChiTietPhong/@pv.MA_PHONG';">Chi tiết</button>
                }
                else
                {
                    <button disabled onclick="location.href='/Phong/DatPhong/@pv.MA_PHONG';">Phòng đã hết</button>
                    <button onclick="location.href='/Phong/ChiTietPhong/@pv.MA_PHONG';">Chi tiết</button>
                }

            </div>
        </div>
    }

</ul>




<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function compareStrings(str1, str2) {
        return removeDiacritics(str1).toLowerCase().includes(removeDiacritics(str2).toLowerCase());
    }

    function removeDiacritics(text) {
        return text.normalize("NFD").replace(/[\u0300-\u036f]/g, "");
    }

    $(document).ready(function () {
        $('.live-search-box').on('keyup', function () {
            var searchTerm = $(this).val().trim().toLowerCase();
            var minPrice = parseFloat(searchTerm); // Assuming you enter the minimum price in the search box
            var maxPrice = minPrice + 1000000; // Assuming you want to search within a range of 1,000,000 (1 million) VNĐ

            $('.live-search-list .card').each(function () {
                var roomName = $(this).find('.card_tille').text().trim().toLowerCase();
                var roomPrice = parseFloat($(this).find('.card_price').text().trim().toLowerCase().replace(/\./g, '').replace(' vnđ', ''));

                var matchName = compareStrings(roomName, searchTerm);
                var matchPrice = roomPrice >= minPrice && roomPrice <= maxPrice;

                if ((matchName || matchPrice) || searchTerm.length < 1) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });
    });
</script>