@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/MyStyle/Item.css" />
@using QLKS_CNPM_LT.Models
@model List<LOAIPHONG>




<h1>Danh sách các loại phòng</h1>


<ul id="list-product">

    @foreach (LOAIPHONG lp in Model)
    {
        <div class="card">
            <div class="card_tille">
                @lp.TenLoai
            </div>
            <div class="card_img">
                @if (lp.DuongDanAnh == null)
                {
                    <a href="/Phong/CTlOAIPhong/@lp.MaLoai"><img src="https://thumbor.forbes.com/thumbor/fit-in/900x510/https://www.forbes.com/home-improvement/wp-content/uploads/2022/07/download-23.jpg" alt="" /></a>
                }
                else
                {
                    <a href="/Phong/CTlOAIPhong/@lp.MaLoai"><img src="@Url.Content(lp.DuongDanAnh)" alt="" /></a>
                }
            </div>
            

        </div>
    }

</ul>

<!--<div class="list-page">-->
@*@Html.PagedListPager(Model, page => Url.Action("Home", new
    { page, category = Request.QueryString["category"] }),
    new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded })*@

<!--</div>-->